prefixcommons>=0.0
ontobio>=1.17.5
pip>=9.0.1
wheel>0.25.0
flask-restplus>=0.10.1
Flask-SQLAlchemy>=2.1
flask-cors>=0.0
Werkzeug==0.16.1
pysolr>=3.6.0
matplotlib>=0.0
sparqlwrapper>0.0
gunicorn==19.9.0
scipy>=0.0
jsonpickle>=0.0
behave>=0.0
jsonpath_rw>=0.0
pytest>=0.0
percache>=0.0
pydotplus>=0.0
cachier>=0.1.26
flask-limiter>=0.0
gevent>=0.0
gitpython>=2.1.11
mygene==3.1.0
