<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>BioLink API</title>
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1>BioLink API</h1>
      </div>
      <div id="description">
        <p>API integration layer for linked biological objects.</p>
        <p><span id="keyword_span"><strong>Source:</strong></span><a href="https://github.com/biolink/biolink-api">https://github.com/biolink/biolink-api</a></p>
        <p><span id="keyword_span"><strong>Swagger UI:</strong></span><a href="/api">{{ base_url }}api</a>
      </div>
    </div>
  </body>
</html>
