<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Gene Ontology API</title>
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1>Gene Ontology API</h1>
      </div>
      <div id="description">
        <p>The Gene Ontology API based on the <a href="https://github.com/biolink/biolink-model" target="blank">BioLink Model</a>, an integration layer for linked biological objects</p>
        <p><span id="keyword_span"><strong>GO BioLink API Source:</strong></span><a href="https://github.com/geneontology/biolink-api" target="blank">https://github.com/geneontology/biolink-api</a></p>
        <p><span id="keyword_span"><strong>Swagger UI:</strong></span><a href="/api">{{ base_url }}api</a>
      </div>
    </div>
  </body>
</html>
